* {
    box-sizing: border-box;
}

.bg .sendmsg {
    position: relative;
    height: 480px;
    width: 320px;
    background-color: #9bbad8;
}
.bg .sendmsg .blank {
    float: left;
    position: relative;
    height: calc(80%);
    width: calc(100%);
    background-color: #9bbad8;
}
textarea {
    position: relative;
    
    height: calc(20%);
    width: calc(100%);
    padding-right: 60px;
    resize: none;
}
.bg .sendmsg button {
    position: absolute;
    bottom: calc(10%);
    right: calc(3%);
    height: 30px;
    width: 45px;
    border: 1px solid gray;
    display: inline-block;
    
    background-color: #ffec42;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
}
.bg .sendmsg button:active {
    background-color: #bdaf30;
}